@media screen and (max-width: 1360px) {
  body {
    font-family: "Oswald", sans-serif;
    background: #aac9e2;
  }
  body::-webkit-scrollbar {
    width: 18px;
  }
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
  }
  body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #00f7ff;
  }
  .header {
    margin-bottom: 20px;
  }
  .header h1 {
    font-size: 32px;
    background-color: #0072C6;
    color: #FFF;
    padding: 20px;
    margin-top: 0;
    text-align: center;
  }
  .navigation {
    display: flex;
    margin-bottom: 22px;
    background-color: #f1f9ff;
    margin: 0px 10px 19px 15px;
    height: 100px;
    width: 1313px;
  }
  .navigation p {
    margin: 15px 14px 15px 14px;
    font-size: 17px;
    background-color: #c1dbf6;
    color: #cfa3a3;
    border: none;
    cursor: pointer;
    padding-top: 25px;
  }
  .navigation a {
    padding: 25px 16px 25px 16px;
    text-decoration: none;
    color: #000000;
    text-align: center;
  }
  .main-block {
    display: flex;
  }
  .main-container {
    margin-left: 15px;
    margin-right: 15px;
    height: 100%;
    width: 55%;
    text-align: center;
    background: #FFF;
    min-height: 600px;
    border: 2px solid rgb(255, 255, 255);
  }
  .register-tabl {
    margin-right: 15px;
    height: 100%;
    width: 45%;
    background: #FFF;
    min-height: 747px;
  }
  .register-tabl table {
    border-collapse: collapse;
    width: 96%;
    margin: 10px;
  }
  .register-tabl h2 {
    margin-top: 3px;
    font-weight: bold;
    color: #0072C6;
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
  }
  .register-tabl th, .register-tabl td {
    border: 1px solid #0072C6;
    padding: 8px;
    text-align: left;
  }
  .register-tabl th {
    background-color: #c1dbf6;
  }
  .main-text {
    margin: 0px 30px 0px 30px;
  }
  .main-text h2 {
    margin-top: 3px;
    font-weight: bold;
    color: #0072C6;
    font-size: 25px;
    margin-bottom: 10px;
  }
  .main-text p {
    font-size: 18px;
    color: #000000;
  }
  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .contact {
    width: 50%;
    border: 2px solid rgb(255, 255, 255);
    padding: 20px;
  }
  .contact input {
    margin: 10px 0px 30px 0px;
    font-size: 20px;
    margin-left: 0%;
    background-color: #c1dbf6;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .contact p {
    text-decoration: none;
  }
  .contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  .contact label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .contact input[type=text], .contact input[type=tel], .contact input[type=email], .contact select {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 86%;
    box-sizing: border-box;
  }
  .contact select {
    cursor: pointer;
  }
  .contact button[type=submit]:hover {
    background-color: #0069d9;
  }
  .contact input:required {
    box-shadow: none;
  }
  .contact input:required {
    box-shadow: none;
  }
  .sidebar {
    margin-top: 20px;
    display: flex;
    background-color: #0087e8;
  }
  .contacts {
    height: 100%;
    width: 25%;
    margin-left: 14px;
    padding-left: 20px;
  }
  .contacts h3 {
    font-size: 22px;
    color: #FFF;
    padding-bottom: 10px;
    padding-top: 8px;
  }
  .contacts p {
    font-size: 18px;
    color: #FFF;
    margin-bottom: 12px;
  }
  .mail {
    height: 100%;
    width: 25%;
  }
  .mail h3 {
    font-size: 22px;
    color: #FFF;
    padding-bottom: 10px;
    padding-top: 8px;
  }
  .mail p {
    font-size: 18px;
    color: #FFF;
  }
  .address {
    height: 100%;
    width: 25%;
  }
  .address h3 {
    font-size: 22px;
    color: #FFF;
    padding-bottom: 10px;
    padding-top: 8px;
  }
  .address p {
    font-size: 18px;
    color: #FFF;
    margin-bottom: 12px;
  }
  .schedule {
    height: 100%;
    width: 25%;
  }
  .schedule h3 {
    font-size: 22px;
    color: #FFF;
    padding-bottom: 10px;
    padding-top: 8px;
  }
  .schedule p {
    font-size: 18px;
    color: #FFF;
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1361px) and (max-width: 1920px) {
  body {
    font-family: "Oswald", sans-serif;
    background: #aac9e2;
  }
  body::-webkit-scrollbar {
    width: 18px;
  }
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
  }
  body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #00f7ff;
  }
  .header {
    margin-bottom: 20px;
  }
  .header h1 {
    font-size: 38px;
    background-color: #0072C6;
    color: #FFF;
    padding: 20px;
    margin-top: 0;
    text-align: center;
  }
  .navigation {
    display: flex;
    margin-bottom: 22px;
    background-color: #f1f9ff;
    margin: 0px 10px 10px 15px;
    height: 100px;
    width: 1490px;
    margin: 0px 10px 19px 15px;
  }
  .navigation p {
    margin: 15px 14px 15px 15px;
    font-size: 20px;
    background-color: #c1dbf6;
    color: #cfa3a3;
    border: none;
    cursor: pointer;
    padding-top: 25px;
  }
  .navigation a {
    padding: 25px 16px 25px 16px;
    text-decoration: none;
    color: #000000;
    text-align: center;
  }
  .main-block {
    display: flex;
  }
  .main-container {
    margin-left: 15px;
    margin-right: 15px;
    height: 100%;
    width: 55%;
    text-align: center;
    background: #FFF;
    min-height: 600px;
    border: 2px solid rgb(255, 255, 255);
  }
  .register-tabl {
    margin-right: 15px;
    height: 100%;
    width: 45%;
    background: #FFF;
    min-height: 747px;
  }
  .register-tabl table {
    border-collapse: collapse;
    width: 96%;
    margin: 10px;
  }
  .register-tabl h2 {
    margin-top: 3px;
    font-weight: bold;
    color: #0072C6;
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
  }
  .register-tabl th, .register-tabl td {
    border: 1px solid #0072C6;
    padding: 8px;
    text-align: left;
  }
  .register-tabl th {
    background-color: #c1dbf6;
  }
  .main-text {
    margin: 0px 30px 0px 30px;
  }
  .main-text h2 {
    font-weight: bold;
    color: #0072C6;
    font-size: 25px;
    margin-bottom: 10px;
  }
  .main-text p {
    font-size: 18px;
  }
  .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .contact {
    width: 50%;
    border: 2px solid rgb(255, 255, 255);
    padding: 20px;
  }
  .contact input {
    margin: 10px 0px 30px 0px;
    font-size: 20px;
    margin-left: 0%;
    background-color: #c1dbf6;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .contact p {
    text-decoration: none;
  }
  .contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  .contact label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .contact input[type=text], .contact input[type=tel], .contact input[type=email], .contact select {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 60%;
    box-sizing: border-box;
  }
  .contact select {
    cursor: pointer;
  }
  .contact button[type=submit]:hover {
    background-color: #0069d9;
  }
  .contact input:required {
    box-shadow: none;
  }
  .contact input:required {
    box-shadow: none;
  }
  .sidebar {
    margin-top: 20px;
    display: flex;
    background-color: #0087e8;
  }
  .contacts {
    height: 100%;
    width: 25%;
    margin-left: 14px;
    padding-left: 20px;
  }
  .contacts h3 {
    font-size: 22px;
    color: #FFF;
    padding-bottom: 10px;
    padding-top: 8px;
  }
  .contacts p {
    font-size: 18px;
    color: #FFF;
    margin-bottom: 12px;
  }
  .mail {
    height: 100%;
    width: 25%;
  }
  .mail h3 {
    font-size: 22px;
    color: #FFF;
    padding-bottom: 10px;
    padding-top: 8px;
  }
  .mail p {
    font-size: 18px;
    color: #FFF;
  }
  .address {
    height: 100%;
    width: 25%;
  }
  .address h3 {
    font-size: 22px;
    color: #FFF;
    padding-bottom: 10px;
    padding-top: 8px;
  }
  .address p {
    font-size: 18px;
    color: #FFF;
    margin-bottom: 12px;
  }
  .schedule {
    height: 100%;
    width: 25%;
  }
  .schedule h3 {
    font-size: 22px;
    color: #FFF;
    padding-bottom: 10px;
    padding-top: 8px;
  }
  .schedule p {
    font-size: 18px;
    color: #FFF;
    margin-bottom: 12px;
  }
}/*# sourceMappingURL=register_style.css.map */